<mat-sidenav-container class="pizza-container">
  
  <!-- Side nav -->
  <mat-sidenav mode="side" class="pizza-sidenav" opened>
    <mat-button-toggle-group #group="matButtonToggleGroup" id="mtbt">
      <mat-button-toggle (click)="setToggleValue('v')" mat-raised-button id="Veg" value="v">Veg</mat-button-toggle>
      <mat-button-toggle (click)="setToggleValue('n')" mat-raised-button id="NonVeg" value="n">Non Veg</mat-button-toggle>
    </mat-button-toggle-group>
    <br/><br/>
  
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <mat-card *ngFor="let pizza of pizzas$ | async" class="pizza-card">
      <mat-card-header class="pizza-card-header">
        <mat-card-title><h3>{{ pizza.name | uppercase }} </h3></mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <img width="150" src="{{pizza.image}}" alt="Photo of pizza">
        <ul class="pizza-list">
          <li>{{pizza.base}}</li>
          <li>{{pizza.type}}</li>
          <li>{{pizza.pizza}}</li>

        </ul>
      </mat-card-content>
      <div class="pizza-card-bottom">Rs. {{pizza.price}} /-</div>
      <mat-card-actions class="pizza-card-bottom">
        <button routerLink="/detail/{{pizza.id}}" mat-raised-button>Order</button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>